
}
.main h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.main {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  text-align: center;
  font-family: Helvetica;

}

.btn-nav {
  font-size: 18px;
  color: white;

}

.middle h2 {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}

.item h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.item {
  font-family:  Helvetica;
  font-size: 14px;
  text-align: center;
}

.supporting {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  font-size: 23px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.footer {
  background-size: cover;
  font-family: Helvetica;
  background-color: dimgrey;
}

span {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}
