
.main h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.main {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  text-align: center;
  font-family: Helvetica;

}

.btn-nav {
  font-size: 18px;
  color: white;
}
